.header {
	background: url('/images/paper.jpg') repeat scroll top left #F2F2F2;
	width: 100%;
	padding-top: 5vh;
	border-bottom: 2px solid $header-orange;
	&-href{
		&, &:hover, &:focus{
			font-size:26px;
			color:$header-orange;
			text-decoration: none;
		}
	}
	&-text{
		background: url('/images/border.png') no-repeat scroll left center transparent;
		padding: 10px;
		color:#777;
	}
}
//Адрес
.adres{
		font-size:14px;	
	}
//-----//
//Логотип
.logo {
		text-align:center;
		font-weight:700;
		font-size:32px;
		height:$header-height;
		line-height:0.7em;
		padding-top: $header-height*0.25;
		display:block;
		&, &:hover, &:focus {
			text-decoration: none;
			color: #000;
		}
		span{
			font-size:14px;
			font-weight:300;
		}
	}
//-------//
//Телефон
.tel{
		font-weight:700;
		color: $color-gold;
		text-decoration: none;
		&:hover,&:focus {
			text-decoration: none;
			color: $color-gold;
		}
		span, i{
			font-size:24px;
			color: #000;
		}
		i {
			color: $color-gold;
		}
	}
.tel_svyaz {
	line-height:0.1em;
	font-size:12px;
	font-weight:300;
}
//-------//
//Выбор языка
.lang {
	font-size:14px;
	font-weight:300;
	padding-left: 15px;
}
a.lang{&, &:hover, &focus{text-decoration:none;color:#000;}}
span.active {
		font-weight:700;
		color: $color-gold;
}
//-------//