.nav-bar {
	background-color:$header-color-back;
	line-height:$nav-height;
	ul {
        margin:0;
        padding-left:0; 
		li{
			list-style-type: none;
			display: block;
    		position: relative;
    		float: left;
			padding:0 20px;
			a {
               color:$nav-color;
			}
		}
	}
}
li.divid {
	line-height:$nav-height;
	height:$nav-height;
	span {
		border-bottom:1px solid $color-gold;
		width: 19px;
		height:1px;
		display: inline-block;
		vertical-align:middle;
	}
}
.navbar-toggle {
    background-color: $color-gold;
    border: 1px solid $color-gold;
	.icon-bar {background-color: #fff;}
}
//animate
.nav-bar.active {
    @include translate(-260px,0);
}
//@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
//	li.divid {padding:0 !important;}
//}
@media (max-width: $screen-xs-max) {
	.nav-bar {position:fixed;width:80%;top:20vh;right:0px;@include translate(-260px,0);}
	.nav-bar ul li {float: none;}
	.tel {display: inline-block;}
}



//@import '../libs/bourbon/app/assets/stylesheets/bourbon'; // http://bourbon.io/
@import 'partials/variables'; // colors, fonts etc...
@import 'partials/layout'; // responsive grid and media queries
