@import "header-variables";
@import "header-bootstrap";
@import "header";
@import "navbar";

body {
	font-family:$font-body-open-sans;
	font-weight:$font-weight-body;
	font-size:$font-size-body;
	ul li {
		list-style-type: none;
	}
}