@import "variables";
@import "bootstrap";
@import "owlcarousel";

/*Colors*/
$background: #f4f4f4;

/*Colors*/
/*Body*/
/*Body*/
/*header*/
.h p{
  margin-top: 50px; }
/*header*/

/*Navbar*/
.nav2.dropdown-menu{
	position: absolute;
	right: -250px;
}
/*Navbar*/

/*TYPOGRAPHY*/
h1,.h1 {padding-bottom:20px;}
h2,.h2 {
		text-transform: uppercase;
		font-size: 20px;
	}
.pull-left {
    padding-right: 10px;
}
.margin-bottom{
	margin-bottom: 10px;
}
.btn-orange { 
	padding: 5px 15px;
	background-color: #f60;
	&:hover, &:focus {
		background: url('/images/bg-nav.png') 0 -25px repeat-x #f60;
	}
	&, &:hover, &:focus{
		color: #fff;
		text-decoration: none;
	}
}
.fa{margin-right: 10px;}
/*TYPOGRAPHY*/
/*BLOCKS*/
.shadow{
	box-shadow: 0 3px 6px rgba(0,0,0,.16),0 3px 6px rgba(0,0,0,.23);
}
/*BLOCKS*/
/* SLIDER*/
/* SLIDER*/
/*MAP*/
.map-yandex {padding: 10px;height: 50vh;}
/*MAP*/
/*GALEREYA*/
.intro{
	padding: 5px;
}
/*GALEREYA*/
/*TABS*/
.nav-tabs > li > a{padding: 10px 25px;}
.tab {
	&-pane{
		background-color: #fff;
		position: relative;
		padding: 10px;
		border: 1px solid #ccc;
		width: 100%;
		overflow: hidden;
	}
	&-fon{
		position: absolute;
		bottom: 0;
		right: -20px;
	}
	&-text{
		width: 70%;
	}
}
/*TABS*/
/*FOOTER*/
.house {width: 100%; height:auto; max-height: 200px;}
.prevfooter{
	margin-top: 20px;
	background: url('/images/paper2.jpg') repeat scroll top left #F2F2F2;
	padding-top: 20px;
	padding-bottom: 10px;
	font-size: 14px;
}
.footer {
	padding-bottom:30px;
	position: relative;
	border-bottom: 1px solid #ddd;
	li{
		padding: 5px;
		span, a {
			padding: 5px;
			color: #999999;
		}
	}
	&-stack{padding: 10px;}
	&-hr{border-top: 1px solid #ccc;}
	&-h2{color: #F56C13; font-size: 24px;}
}
.nextfooter{
	background-color: #fff;
	border-bottom: 1px solid #f60;
}
/*FOOTER*/